<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>local.UserController.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>local.UserController.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>local.UserController.about</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>local.UserController.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>course</servlet-name>
        <servlet-class>local.UserController.course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>team</servlet-name>
        <servlet-class>local.UserController.team</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>local.UserController.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feature</servlet-name>
        <servlet-class>local.UserController.feature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>local.UserController.category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>local.UserController.Feedbackcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myenrollment</servlet-name>
        <servlet-class>local.UserController.Myenrollment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdminDasboardServlet</servlet-name>
        <servlet-class>local.AdminController.ShowAdminDasboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUserServlet</servlet-name>
        <servlet-class>local.AdminController.AddNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfExpertServlet</servlet-name>
        <servlet-class>local.AdminController.ListOfExpertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfSellerServlet</servlet-name>
        <servlet-class>local.AdminController.ListOfSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfFeedbackByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.ListOfFeedbackByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.DeleteUserByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchExpertByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.SearchExpertByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSellerByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.SearchSellerByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.ListBlogByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.DeleteBlogByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTranscriptByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.ListTranscriptByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfRequestByAdminServlet</servlet-name>
        <servlet-class>local.AdminController.ListOfRequestByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestServlet</servlet-name>
        <servlet-class>local.AdminController.DeleteRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoleUserServlet</servlet-name>
        <servlet-class>local.AdminController.UpdateRoleUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserForAdminServlet</servlet-name>
        <servlet-class>local.AdminController.ChangeUserForAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>course</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>team</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feature</servlet-name>
        <url-pattern>/feature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedbackcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>local.UserController.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>local.UserController.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>local.UserController.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>local.UserController.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myenrollment</servlet-name>
        <url-pattern>/myenrollment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdminDasboardServlet</servlet-name>
        <url-pattern>/ShowAdminDasboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUserServlet</servlet-name>
        <url-pattern>/AddNewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfExpertServlet</servlet-name>
        <url-pattern>/ListOfExpertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfSellerServlet</servlet-name>
        <url-pattern>/ListOfSellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfFeedbackByAdminServlet</servlet-name>
        <url-pattern>/ListOfFeedbackByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserByAdminServlet</servlet-name>
        <url-pattern>/DeleteUserByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchExpertByAdminServlet</servlet-name>
        <url-pattern>/SearchExpertByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSellerByAdminServlet</servlet-name>
        <url-pattern>/SearchSellerByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogByAdminServlet</servlet-name>
        <url-pattern>/ListBlogByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogByAdminServlet</servlet-name>
        <url-pattern>/DeleteBlogByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTranscriptByAdminServlet</servlet-name>
        <url-pattern>/ListTranscriptByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfRequestByAdminServlet</servlet-name>
        <url-pattern>/ListOfRequestByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestServlet</servlet-name>
        <url-pattern>/DeleteRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoleUserServlet</servlet-name>
        <url-pattern>/UpdateRoleUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserForAdminServlet</servlet-name>
        <url-pattern>/ChangeUserForAdminServlet</url-pattern>
    </servlet-mapping>
</web-app>
